@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);
*:focus {
  outline: none;
}

body {
  margin: 0;
  padding: 0;
  background: #bbf0dd;
  font-size: 16px;
  color: #222;
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
}

#box {
  position: relative;
  margin: 5% auto;
  width: 1000px;
  height: 600px;
  background: #FFF;
  border-radius: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.left {
  position: absolute;
  top: 0;
  left: 0;
  box-sizing: border-box;
  padding: 40px;
  width: 1000px;
  height: 600px;
}


/* The sidebar menu */
.sidebar {
  height: 100%; /* 100% Full-height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidebar */
}

/* The sidebar links */
.sidebar a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* The sidepanel menu */
.sidepanel {
  height: 100%; /* Specify a height */
  width: 0; /* 0 width - change this with JavaScript */
  position: fixed; /* Stay in place */
  z-index: 1; /* Stay on top */
  top: 0;
  left: 0;
  background-color: #111; /* Black*/
  overflow-x: hidden; /* Disable horizontal scroll */
  padding-top: 60px; /* Place content 60px from the top */
  transition: 0.5s; /* 0.5 second transition effect to slide in the sidepanel */
}

/* The sidepanel links */
.sidepanel a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  transition: 0.3s;
}

/* When you mouse over the navigation links, change their color */
.sidepanel a:hover {
  color: #f1f1f1;
}

/* Position and style the close button (top right corner) */
.sidepanel .closebtn {
  position: absolute;
  top: 0;
  right: 25px;
  font-size: 36px;
  margin-left: 50px;
}

/* Style the button that is used to open the sidepanel */
.openbtn {
  font-size: 20px;
  cursor: pointer;
  background-color: #111;
  color: white;
  padding: 10px 15px;
  border: none;
}

.openbtn:hover {
  background-color: #444;
}

#main{
  width: 100%;
  position: relative;
  top: 0;
  background-color: #111;
}
.list {
    height: 350px;
    width: 850px;
    overflow-y: scroll;
}

li {
    list-style-type: none;
    }

#my_message_text{
    text-align: left;
    padding-left:20px;
    font-size: 16px;
    background: #00e2b8;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-bottom:2px;
}

#my_message{
    text-align:right;
    padding-right:20px;
    font-weight: bold;
    font-size: 16px;
    background: #00e2b8;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

#r_message_text{
    text-align: left;
    padding-left:20px;
    font-size: 16px;
    background: #e6e6e6;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-bottom:2px;
}

#r_message{
    text-align:left;
    padding-left:20px;
    font-weight: bold;
    font-size: 16px;
    background: #e6e6e6;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

button[id^='send'],
button[id^='get_history']{
  width: 120px;
  height: 32px;
  background: #16a085;
  margin-bottom:10px;
  border: none;
  border-radius: 2px;
  color: #FFF;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  text-transform: uppercase;
  transition: 0.1s ease;
  cursor: pointer;
}
button[id^='send'],
button[id^='get_history']:hover,
button[id^='send'],
button[id^='get_history']:focus {
  opacity: 0.8;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}

button[id^='send'],
button[id^='get_history']:active {
  opacity: 1;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
  transition: 0.1s ease;
}
input[type="text"]{
  padding: 4px;
  width: 600px;
  height: 32px;
  border: none;
  border-bottom: 1px solid #AAA;
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 15px;
  transition: 0.2s ease;
}
input[type="text"]:focus{
  border-bottom: 2px solid #16a085;
  color: #16a085;
  transition: 0.2s ease;
}
.dropdown-btn {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
  border: none;
  background: none;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}
.dropdown-btn:hover {
  color: #f1f1f1;
}

.dropdown-container {
  display: none;
  padding-left: 8px;
}
.fa-caret-down {
  float: right;
}

div[id^='tab'] {
    border-width: 2px;
    border-color: #16a085;
    border-style:solid;
    border-radius: 25px;
}