<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='login_style.css') }}">
     <script type="text/javascript">
         var error= {{error}}
     </script>
</head>
<body>
<div id="login-box">
  <div class="left">
    <h1>Log in</h1>

      <form action="" method="POST">
          <input type="text" name="email" placeholder="E-mail" />
          <input type="password" name="password" placeholder="Password" />
          <input class="login" type="submit" name="login" value="Log me in" />
          <input class="register" type="submit" name="register" value="Create an account" />
      </form>
  </div>
</div>
<ul>
            <script type="text/javascript">
            if ( error == 1){
            alert("LOGIN UNSUCCESSFUL \nFill gaps with correct credentials");
            }
            </script>
</ul>
</body>
</html>