<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Create an account</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='register_style.css') }}">
    <script type="text/javascript">
    var error= {{error}}
    </script>
</head>
<body>
<div id="login-box">
  <div class="left">
    <h1>Sign up</h1>
      <form action="" method="POST">
        <input type="text" name="username" placeholder="Username" />
        <input type="text" name="email" placeholder="E-mail" />
        <input type="password" name="password" placeholder="Password" />
        <input type="password" name="password2" placeholder="Retype password" />
        <input type="submit" name="signup_submit" value="Sign me up" />
      </form>
  </div>
</div>
<ul>
            <script type="text/javascript">
            if ( error == 1){
                alert("REGISTRATION UNSUCCESSFUL \n Username/Email already taken");
            } else if(error == 2) {
            alert("ERROR \nType the same password");
            } else if(error == 3) {
            alert("Fill up all gaps")
            }
            </script>
</ul>
</form>
</body>
</html>